{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <!-- <script>
    if (window.location.protocol !== "https:") {
      window.location.href = "https://" + window.location.host + window.location.pathname + window.location.search;
    }
  </script> -->
  <title>Our services - Profit Pulse LTD </title>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="theme-color" content="#121212">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme" content="dark">

  <!-- Sites meta Data -->
  <meta name="application-name" content="ProfitPulse">
  <meta name="author" content="DevCom">
  <meta name="keywords" content="Crypto, Forex, Stocks, Trading, Business">
  <meta name="description" content="Invest seamlessly with qualified and experienced in-house traders at ProfitPulse. Whether or not you have experience in with forex trading">



  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">



  <!-- main css for template -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

  <!-- ===============>> Preloader start here <<================= -->
  <div class="preloader">
    <img src="{% static 'assets/images/logo/preloader.png' %}" alt="preloader icon">
  </div>
  <!-- ===============>> Preloader end here <<================= -->



  <!-- ===============>> light&dark switch start here <<================= -->
  <div style="display: none !important;" class="lightdark-switch">
    <span class="switch-btn" id="btnSwitch"><img src="{% static 'assets/images/icon/sun.svg' %}"
        alt="light-dark-switchbtn" class="swtich-icon"></span>
  </div>
  <!-- ===============>> light&dark switch start here <<================= -->





  <!-- ===============>> Header section start here <<================= -->
  <header class="header-section header-section--style2">
    <div class="header-bottom">
      <div class="container">
        <div class="header-wrapper">
          <div class="logo">
            <a href="{% url 'homepage' %}">
              <img class="dark" src="{% static 'assets/images/logo/logo.png' %}" alt="logo">
            </a>
          </div>
          <div class="menu-area">
            <ul class="menu menu--style1">
              <li class="megamenu">
                <a href="{% url 'homepage' %}">Home</a>
              </li>
              <li>
                <a href="#">Services</a>
                <ul class="submenu">
                  <li><a href="{% url 'homepage/services' %}">Services </a></li>
                  <li><a href="{% url 'homepage/pricing' %}">Plans & Pricing </a></li>
                </ul>
              </li>
              <li>
                <a href="#">About</a>
                <ul class="submenu">
                  <li><a href="{% url 'homepage/about' %}">About Company</a></li>
                  <li><a href="{% url 'homepage/team' %}">Team</a></li>
                </ul>
              </li>
              <li>
                <a href="{% url 'homepage/contact' %}">Contact Us</a>
              </li>
            </ul>

          </div>
          <div class="header-action">
            <div class="menu-area">
              <div class="header-btn">
                <a href="{% url 'homepage/signin' %}" class="trk-btn trk-btn--border trk-btn--primary">
                  <span>Join Now</span>
                </a>
              </div>

              <!-- toggle icons -->
              <div class="header-bar d-lg-none header-bar--style1">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ===============>> Header section end here <<================= -->

  <!-- ================> Page header start here <================== -->
  <section class="page-header bg--cover" style="background-image:url({% static 'assets/images/header/1.png' %})">
    <div class="container">
      <div class="page-header__content" data-aos="fade-right" data-aos-duration="1000">
        <h2>Services</h2>
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item "><a href="{% url 'homepage' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
          </ol>
        </nav>
      </div>
      <div class="page-header__shape">
        <span class="page-header__shape-item page-header__shape-item--1"><img src="{% static 'assets/images/header/2.png' %}"
            alt="shape-icon"></span>
      </div>
    </div>
  </section>
  <!-- ================> Page header end here <================== -->




  <!-- ===============>> Service section start here <<================= -->
  <section class="service padding-top padding-bottom">
    <div class="section-header section-header--max50">
      <h2 class="mb-10 mt-minus-5"><span>services </span>We offer</h2>
      <p>
        We offer the best services around - from managing trades for clients, Issuing crypto transaction cards, providing secure brokerage platform through ProfitPulse's myPurse app to allow investors conveniently track the progress of their investment, and also make withdrawals!
      </p>
    </div>
    <div class="container">
      <div class="service__wrapper">
        <div class="row g-4 align-items-center">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service__item service__item--style1" data-aos="fade-up" data-aos-duration="800">
              <div class="service__item-inner text-center">
                <div class="service__item-thumb mb-30">
                  <img class="dark" src="{% static 'assets/images/service/1.png' %}" alt="service-icon">
                </div>
                <div class="service__item-content">
                  <h5 > <a class="stretched-link" href="{% static 'service-details.html' %}">Proxy Trading</a></h5>
                  <p class="mb-0">We provide meticulous investment services tailored to your financial aspirations. With a keen eye on the dynamic forex market, our expert team crafts personalized strategies to maximize returns while managing risk effectively. Trust in our commitment to transparency, integrity, and your financial success.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="service__item service__item--style1" data-aos="fade-up" data-aos-duration="1000">
              <div class="service__item-inner text-center">
                <div class="service__item-thumb mb-30">
                  <img class="dark" src="{% static 'assets/images/service/2.png' %}" alt="service-icon">
                </div>
                <div class="service__item-content">
                  <h5 >
                    <a class="stretched-link" href="{% url 'homepage/services' %}">
                      Financial Advisory 
                    </a> 
                  </h5>
                  <p class="mb-0"> 
                    We offer insightful financial advisory services to guide you towards your wealth management goals. Our seasoned advisors leverage their expertise to provide personalized recommendations tailored to your unique financial situation. From portfolio diversification to risk management strategies, we are dedicated to empowering you with the knowledge and tools needed to make informed decisions and secure your financial future.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="service__item service__item--style1" data-aos="fade-up" data-aos-duration="1200">
              <div class="service__item-inner text-center">
                <div class="service__item-thumb mb-30">
                  <img class="dark" src="{% static 'assets/images/service/3.png' %}" alt="service-icon">
                </div>
                <div class="service__item-content">
                  <h5 > <a class="stretched-link" href="{% static 'homepage/services' %}">Risk Management</a> </h5>
                  <p class="mb-0">
                    We specialize in comprehensive risk management solutions to safeguard your investments. Our proactive approach identifies and mitigates potential risks, ensuring the protection and growth of your assets. With meticulous attention to detail, we customize strategies to suit your risk tolerance and investment objectives, providing peace of mind in an ever-changing financial landscape.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="service__item service__item--style1" data-aos="fade-up" data-aos-duration="800">
              <div class="service__item-inner text-center">
                <div class="service__item-thumb mb-30">
                  <img class="dark" src="{% static 'assets/images/service/4.png' %}" alt="service-icon">
                </div>
                <div class="service__item-content">
                  <h5 > <a class="stretched-link" href="{% url 'homepage/services' %}">General brokerage services </a>
                  </h5>
                  <p class="mb-0">
                    We offer a range of comprehensive brokerage services to meet your investment needs. With our expertise and market knowledge, we facilitate seamless transactions and provide access to a diverse range of investment opportunities. Whether you're a seasoned investor or just starting out, trust in our reliable brokerage services to navigate the markets and achieve your financial goals with confidence.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service__shape">
      <span class="service__shape-item service__shape-item--1"><img src="{% static 'assets/images/icon/1.png' %}"
          alt="shape-icon"></span>
    </div>
  </section>
  <!-- ===============>> Service section start here <<================= -->





  <!-- ===============>> Testimonial section start here <<================= -->
  <section class="testimonial padding-top padding-bottom-style2 bg-color">
    <div class="container">
      <div class="section-header d-md-flex align-items-center justify-content-between">
        <div class="section-header__content">
          <h2 class="mb-10">connect with <span>our Clients </span></h2>
          <p class="mb-0">
            Our investors are satisfied, read what some of them have to say below.
          </p>
        </div>
        <div class="section-header__action">
          <div class="swiper-nav">
            <button class="swiper-nav__btn testimonial__slider-prev"><i class="fa-solid fa-angle-left"></i></button>
            <button class="swiper-nav__btn testimonial__slider-next active"><i
                class="fa-solid fa-angle-right"></i></button>
          </div>
        </div>
      </div>
      <div class="testimonial__wrapper" data-aos="fade-up" data-aos-duration="1000">
        <div class="testimonial__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial__item testimonial__item--style1">
                <div class="testimonial__item-inner">
                  <div class="testimonial__item-content">
                    <p class="mb-0">
                      I couldn't be happier with the returns I've seen since partnering with Profit Pulse through Steph Ravster on facebook. Their investment strategies are top-notch, and the results speak for themselves. I'm grateful to be a beneficiary of this great services.
                    </p>
                    <div class="testimonial__footer">
                      <div class="testimonial__author">
                        <div class="testimonial__author-thumb">
                          <img src="{% static 'assets/images/testimonial/1.png' %}" alt="author">
                        </div>
                        <div class="testimonial__author-designation">
                          <h6>Mobarok Hossain</h6>
                          <span>Investor</span>
                        </div>
                      </div>
                      <div class="testimonial__quote">
                        <span><i class="fa-solid fa-quote-right"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial__item testimonial__item--style1">
                <div class="testimonial__item-inner">
                  <div class="testimonial__item-content">
                    <p class="mb-0">
                      The profits I've earned through my investments with ProfitPulse have been nothing short of remarkable. Their
                      commitment to delivering exceptional results has made them my trusted partner for wealth accumulation. I
                      highly recommended ProfitPulse!
                    </p>
                    <div class="testimonial__footer">
                      <div class="testimonial__author">
                        <div class="testimonial__author-designation">
                          <h6>Shaibu Inu </h6>
                          <span>Investor</span>
                        </div>
                      </div>
                      <div class="testimonial__quote">
                        <span><i class="fa-solid fa-quote-right"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial__item testimonial__item--style1">
                <div class="testimonial__item-inner">
                  <div class="testimonial__item-content">
                    <p class="mb-0">
                      I've been an investor here for years, and I continue to be confident and very impressed by their expertise and personalized approach to investment management. They truly go above and beyond to ensure their clients success! I started with the Micro plan initially. I'm currently on the  
                    </p>
                    <div class="testimonial__footer">
                      <div class="testimonial__author">
                        <div class="testimonial__author-thumb">
                          <img src="{% static 'assets/images/testimonial/2.png' %}" alt="author">
                        </div>
                        <div class="testimonial__author-designation">
                          <h6>Mark Hawkins</h6>
                          <span>Investor</span>
                        </div>
                      </div>
                      <div class="testimonial__quote">
                        <span><i class="fa-solid fa-quote-right"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__item testimonial__item--style1">
                <div class="testimonial__item-inner">
                  <div class="testimonial__item-content">
                    <p class="mb-0">
                      As a novice investor, I was unsure where to start, but Kirsty was indeed a God sent to me through made the process easy and stress-free. The brokerage service gave me access to a wide range of investment options, and their support team was there every step of the way. Big shoutout to Brian for guiding me throughout the process until i got my profit to my bank account. Thank you so much ProfitPulse.
                    </p>
                    <div class="testimonial__footer">
                      <div class="testimonial__author">
                        <div class="testimonial__author-thumb">
                          <img src="{% static 'assets/images/testimonial/6.png' %}" alt="author">
                        </div>
                        <div class="testimonial__author-designation">
                          <h6>Belal Hossain </h6>
                          <span>Investor</span>
                        </div>
                      </div>
                      <div class="testimonial__quote">
                        <span><i class="fa-solid fa-quote-right"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__item testimonial__item--style1">
                <div class="testimonial__item-inner">
                  <div class="testimonial__item-content">
                    <p class="mb-0">
                      I'm proud to say that investing with ProfitPulse has been one of the most lucrative decisions I've ever made. The impressive profits I've earned have allowed me to achieve financial milestones I once thought were out of reach
                    </p>
                    <div class="testimonial__footer">
                      <div class="testimonial__author">
                        
                        <div class="testimonial__author-designation">
                          <h6>Emily Steward</h6>
                          <span>Investor</span>
                        </div>
                      </div>
                      <div class="testimonial__quote">
                        <span><i class="fa-solid fa-quote-right"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===============>> Testimonial section start here <<================= -->




  <!-- ===============>> cta section start here <<================= -->
  <!-- <section class="cta padding-top padding-bottom  bg-color">
    <div class="container">
      <div class="cta__wrapper">
        <div class="cta__newsletter justify-content-center">
          <div class="cta__newsletter-inner" data-aos="fade-up" data-aos-duration="1000">
            <div class="cta__thumb">
              <img src="{% static 'assets/images/cta/3.png' %}" alt="cta-thumb">
            </div>
            <div class="cta__subscribe">
              <h2 > <span>Subscribe</span> our news</h2>
              <p>Hey! Are you tired of missing out on our updates? Subscribe to our news now and stay in the loop!</p>
              <form class="cta-form cta-form--style2 form-subscribe" action="#">
                <div class="cta-form__inner d-sm-flex align-items-center">
                  <input type="email" class="form-control form-control--style2 mb-3 mb-sm-0"
                    placeholder="Email Address">
                  <button class="trk-btn  trk-btn--large trk-btn--secondary2" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="cta__shape">
          <span class="cta__shape-item cta__shape-item--1"><img src="{% static 'assets/images/cta/2.png' %}" alt="shape icon"></span>
          <span class="cta__shape-item cta__shape-item--2"><img src="{% static 'assets/images/cta/4.png'  %}" alt="shape icon"></span>
          <span class="cta__shape-item cta__shape-item--3"><img src="{% static 'assets/images/cta/5.png'  %}" alt="shape icon"></span>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ===============>> cta section start here <<================= -->



  <!-- ===============>> footer start here <<================= -->
  <footer class="footer ">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__top footer__top--style1">
          <div class="row gy-5 gx-4">
            <div class="col-md-6">
              <div class="footer__about">
                <a href="{% url 'homepage' %}" class="footer__about-logo"><img
                    src="{% static  'assets/images/logo/logo-dark.png' %}" alt="Logo"></a>
                <p class="footer__about-moto ">Welcome to our investment platform! We offer the best, most reliable
                  investment plans and trading services around. Open your Purse account now and start finding great deals!
                </p>
                <div class="footer__app">
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <div class="footer__links">
                <div class="footer__links-tittle">
                  <h6>Quick links</h6>
                </div>
                <div class="footer__links-content">
                  <ul class="footer__linklist">
                    <li class="footer__linklist-item"> <a href="{% url 'homepage/about' %}">About Us</a>
                    </li>
                    <li class="footer__linklist-item"> <a href="{% url 'homepage/team' %}">Teams</a>
                    </li>
                    <li class="footer__linklist-item"> <a href="{% url 'homepage/services' %}">Services</a> </li>
                    </li>
                  </ul>
                </div>
              </div>
  
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <div class="footer__links">
                <div class="footer__links-tittle">
                  <h6>Support</h6>
                </div>
                <div class="footer__links-content">
                  <ul class="footer__linklist">
                    <li class="footer__linklist-item"> <a href="{% url 'terms' %}">Terms & Conditions</a>
                    </li>
                    <li class="footer__linklist-item"> <a href="{% url 'terms' %}">Privacy Policy</a>
                    </li>
                    <li class="footer__linklist-item"> <a href="#faqs">FAQs</a></li>
                  </ul>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__end">
            <div class="footer__end-copyright">
              <p> ©
                <span id="yearElement" class=" mb-0">0000 </span> All rights reserved.
              </p>
            </div>
            <script>
              let yearData = new Date().getFullYear();
              let yearElement = document.getElementById('yearElement')
              yearElement.innerHTML = yearData 
            </script>
            <div>
              <ul class="social">
                <li class="social__item">
                  <a href="https://facebook.com/page.profitpulse" class="social__link social__link--style22"><i
                      class="fab fa-facebook-f"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__shape">
      <span class="footer__shape-item footer__shape-item--1"><img src="{% static 'assets/images/footer/1.png' %}"
          alt="shape icon"></span>
      <span class="footer__shape-item footer__shape-item--2"> <span></span> </span>
    </div>
  </footer>
  <!-- ===============>> footer end here <<================= -->


  <!-- ===============>> scrollToTop start here <<================= -->
  <a href="#" class="scrollToTop scrollToTop--style1"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
  <!-- ===============>> scrollToTop ending here <<================= -->


  <!-- vendor plugins -->
    <script src="//code.tidio.co/s7s7pkpgzioqwkyxuqph94yrpdafdwdh.js" async></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/all.min.js' %}"></script>
  <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/aos.js' %}"></script>
  <script src="{% static 'assets/js/fslightbox.js' %}"></script>
  <script src="{% static 'assets/js/purecounter_vanilla.js' %}"></script>
  
  
  
  <script src="{% static 'assets/js/custom.js' %}"></script>


</body>

</html>