{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        h1 {
            color: #00cc00;
        }
    </style>
</head>

<body>
    <div class="container">
        <img style="width: 100%;"
            src="https://raw.githubusercontent.com/demigodhitr/Webpage-images/3a597170661a5bd2a2a77ba6a83aef324d96c491/email-logo.png"
            alt="company logo">
        <img style="margin: 0px 0px 0px 45%;"
            src="https://raw.githubusercontent.com/demigodhitr/Webpage-images/main/check-mark.png" alt="check mark">
        <h1>Deposit Confirmed</h1>
        <p>Dear {{ deposit.user.username }},</p>
        <p>We are pleased to inform you that your recent deposit has been confirmed and your purse account has been credited.</p>
        <p>for reference, review the deposit details below. </p>
        <ul>
            <li><strong>Deposit amount  </strong> £{{ deposit.DepositAmount|intcomma }}.</li><br>
            <li><strong>Deposit network </strong> {{ deposit.Network }}.</li><br>
            <li><strong>Deposit status </strong> {{ deposit.status }}</li><br>
            <li><strong>Transaction ID  </strong>#DEP{{ deposit.requestID }}.</li><br>
            <li><strong>Deposit date </strong> {{ deposit.created_at }}.</li><br>
        </ul>
        <h5><strong>Important Message:</strong></h5>
        <p><em>{{ deposit.status_message }}</em></p>
        <br>
        <p>Thank you for your payment!</p>
        <p>Best regards,</p>
        <p>The Finance Team,</p>
        <p><a href="https://www.myprofitpurse.com">ProfitPulse LTD</a></p>
    </div>
</body>

</html>