{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<style>
				.alert {
        display: none;
        /* background-color: red;  */
        /* border-radius: 20px;
        border-bottom-left-radius: 1px;
        color: white;
        padding: 5px; 
        margin-bottom: 4px;  */
        animation: fadeInOut 5s ease-in-out;
    	}
    	@keyframes fadeInOut {
        	0%, 100% {
            opacity: 0;
        	}
        	10%, 90% {
            opacity: 1;
        	}
    	}
	</style>
	<title>myProfitPulse Account Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<span class="login100-form-title p-b-49">
						Get A Purse account
					</span>
						{% for message in messages %}
						{% if 'registration' in message.tags and 'error' in message.tags %}
						<div style="z-index: 9999;" class="alert alert-danger">
							{{ message }}
						</div>
						{% endif %}
						{% endfor %}
				<form enctype="multipart/form-data" action="{% url 'signup' %}" method="post" class="login100-form validate-form">
					{% csrf_token %}

					<div class="wrap-input100 validate-input m-b-23" data-validate="Email is required">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" name="email" placeholder="Type your correct email">
						<span class="focus-input100" data-symbol="&#x2709;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="First name is required">
						<span class="label-input100">First Name</span>
						<input class="input100" type="text" name="firstname" placeholder="Type your First Name">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Last name is required">
						<span class="label-input100">Last Name</span>
						<input class="input100" type="text" name="lastname" placeholder="Type your Last Name">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Type your Username">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
						<span class="label-input100">Nationality</span>
						<select  class="input100" name="nationality">
							<option value="" selected disabled>Select a Country</option>
							<option value="united-kingdom">United Kingdom</option>
							<option value="united-states">United States</option>
							<option disabled value=""></option>
							<option value="afghanistan">Afghanistan</option>
							<option value="albania">Albania</option>
							<option value="algeria">Algeria</option>
							<option value="andorra">Andorra</option>
							<option value="angola">Angola</option>
							<option value="antigua-and-barbuda">Antigua and Barbuda</option>
							<option value="argentina">Argentina</option>
							<option value="armenia">Armenia</option>
							<option value="australia">Australia</option>
							<option value="austria">Austria</option>
							<option value="azerbaijan">Azerbaijan</option>
							<option value="bahamas">Bahamas</option>
							<option value="bahrain">Bahrain</option>
							<option value="bangladesh">Bangladesh</option>
							<option value="barbados">Barbados</option>
							<option value="belarus">Belarus</option>
							<option value="belgium">Belgium</option>
							<option value="belize">Belize</option>
							<option value="benin">Benin</option>
							<option value="bhutan">Bhutan</option>
							<option value="bolivia">Bolivia</option>
							<option value="bosnia-and-herzegovina">Bosnia and Herzegovina</option>
							<option value="botswana">Botswana</option>
							<option value="brazil">Brazil</option>
							<option value="brunei">Brunei</option>
							<option value="bulgaria">Bulgaria</option>
							<option value="burkina-faso">Burkina Faso</option>
							<option value="burundi">Burundi</option>
							<option value="cabo-verde">Cabo Verde</option>
							<option value="cambodia">Cambodia</option>
							<option value="cameroon">Cameroon</option>
							<option value="canada">Canada</option>
							<option value="central-african-republic">Central African Republic</option>
							<option value="chad">Chad</option>
							<option value="chile">Chile</option>
							<option value="china">China</option>
							<option value="colombia">Colombia</option>
							<option value="comoros">Comoros</option>
							<option value="congo-democratic-republic">Congo (Democratic Republic)</option>
							<option value="congo-republic">Congo (Republic)</option>
							<option value="costa-rica">Costa Rica</option>
							<option value="cote-divoire">Côte d'Ivoire</option>
							<option value="croatia">Croatia</option>
							<option value="cuba">Cuba</option>
							<option value="cyprus">Cyprus</option>
							<option value="czech-republic">Czech Republic</option>
							<option value="denmark">Denmark</option>
							<option value="djibouti">Djibouti</option>
							<option value="dominica">Dominica</option>
							<option value="dominican-republic">Dominican Republic</option>
							<option value="east-timor">East Timor (Timor-Leste)</option>
							<option value="ecuador">Ecuador</option>
							<option value="egypt">Egypt</option>
							<option value="el-salvador">El Salvador</option>
							<option value="equatorial-guinea">Equatorial Guinea</option>
							<option value="eritrea">Eritrea</option>
							<option value="estonia">Estonia</option>
							<option value="eswatini">Eswatini</option>
							<option value="ethiopia">Ethiopia</option>
							<option value="fiji">Fiji</option>
							<option value="finland">Finland</option>
							<option value="france">France</option>
							<option value="gabon">Gabon</option>
							<option value="gambia">Gambia</option>
							<option value="georgia">Georgia</option>
							<option value="germany">Germany</option>
							<option value="ghana">Ghana</option>
							<option value="greece">Greece</option>
							<option value="grenada">Grenada</option>
							<option value="guatemala">Guatemala</option>
							<option value="guinea">Guinea</option>
							<option value="guinea-bissau">Guinea-Bissau</option>
							<option value="guyana">Guyana</option>
							<option value="haiti">Haiti</option>
							<option value="honduras">Honduras</option>
							<option value="hungary">Hungary</option>
							<option value="iceland">Iceland</option>
							<option value="india">India</option>
							<option value="indonesia">Indonesia</option>
							<option value="iran">Iran</option>
							<option value="iraq">Iraq</option>
							<option value="ireland">Ireland</option>
							<option value="israel">Israel</option>
							<option value="italy">Italy</option>
							<option value="jamaica">Jamaica</option>
							<option value="japan">Japan</option>
							<option value="jordan">Jordan</option>
							<option value="kazakhstan">Kazakhstan</option>
							<option value="kenya">Kenya</option>
							<option value="kiribati">Kiribati</option>
							<option value="north-korea">Korea (North)</option>
							<option value="south-korea">Korea (South)</option>
							<option value="kosovo">Kosovo</option>
							<option value="kuwait">Kuwait</option>
							<option value="kyrgyzstan">Kyrgyzstan</option>
							<option value="laos">Laos</option>
							<option value="latvia">Latvia</option>
							<option value="lebanon">Lebanon</option>
							<option value="lesotho">Lesotho</option>
							<option value="liberia">Liberia</option>
							<option value="libya">Libya</option>
							<option value="liechtenstein">Liechtenstein</option>
							<option value="lithuania">Lithuania</option>
							<option value="luxembourg">Luxembourg</option>
							<option value="madagascar">Madagascar</option>
							<option value="malawi">Malawi</option>
							<option value="malaysia">Malaysia</option>
							<option value="maldives">Maldives</option>
							<option value="mali">Mali</option>
							<option value="malta">Malta</option>
							<option value="marshall-islands">Marshall Islands</option>
							<option value="mauritania">Mauritania</option>
							<option value="mauritius">Mauritius</option>
							<option value="mexico">Mexico</option>
							<option value="micronesia">Micronesia</option>
							<option value="moldova">Moldova</option>
							<option value="monaco">Monaco</option>
							<option value="mongolia">Mongolia</option>
							<option value="montenegro">Montenegro</option>
							<option value="morocco">Morocco</option>
							<option value="mozambique">Mozambique</option>
							<option value="myanmar">Myanmar</option>
							<option value="namibia">Namibia</option>
							<option value="nauru">Nauru</option>
							<option value="nepal">Nepal</option>
							<option value="netherlands">Netherlands</option>
							<option value="new-zealand">New Zealand</option>
							<option value="nicaragua">Nicaragua</option>
							<option value="niger">Niger</option>
							<option value="nigeria">Nigeria</option>
							<option value="north-macedonia">North Macedonia</option>
							<option value="norway">Norway</option>
							<option value="oman">Oman</option>
							<option value="pakistan">Pakistan</option>
							<option value="palau">Palau</option>
							<option value="panama">Panama</option>
							<option value="papua-new-guinea">Papua New Guinea</option>
							<option value="paraguay">Paraguay</option>
							<option value="peru">Peru</option>
							<option value="philippines">Philippines</option>
							<option value="poland">Poland</option>
							<option value="portugal">Portugal</option>
							<option value="qatar">Qatar</option>
							<option value="romania">Romania</option>
							<option value="russia">Russia</option>
							<option value="rwanda">Rwanda</option>
							<option value="saint-kitts-and-nevis">Saint Kitts and Nevis</option>
							<option value="saint-lucia">Saint Lucia</option>
							<option value="saint-vincent-and-the-grenadines">Saint Vincent and the Grenadines</option>
							<option value="samoa">Samoa</option>
							<option value="san-marino">San Marino</option>
							<option value="sao-tome-and-principe">São Tomé and Príncipe</option>
							<option value="saudi-arabia">Saudi Arabia</option>
							<option value="senegal">Senegal</option>
							<option value="serbia">Serbia</option>
							<option value="seychelles">Seychelles</option>
							<option value="sierra-leone">Sierra Leone</option>
							<option value="singapore">Singapore</option>
							<option value="slovakia">Slovakia</option>
							<option value="slovenia">Slovenia</option>
							<option value="solomon-islands">Solomon Islands</option>
							<option value="somalia">Somalia</option>
							<option value="south-africa">South Africa</option>
							<option value="south-sudan">South Sudan</option>
							<option value="spain">Spain</option>
							
							<option value="sri-lanka">Sri Lanka</option>
							<option value="sudan">Sudan</option>
							<option value="suriname">Suriname</option>
							<option value="sweden">Sweden</option>
							<option value="switzerland">Switzerland</option>
							<option value="syria">Syria</option>
							<option value="taiwan">Taiwan</option>
							<option value="tajikistan">Tajikistan</option>
							<option value="tanzania">Tanzania</option>
							<option value="thailand">Thailand</option>
							<option value="togo">Togo</option>
							<option value="tonga">Tonga</option>
							<option value="trinidad-and-tobago">Trinidad and Tobago</option>
							<option value="tunisia">Tunisia</option>
							<option value="turkey">Turkey</option>
							<option value="turkmenistan">Turkmenistan</option>
							<option value="tuvalu">Tuvalu</option>
							<option value="uganda">Uganda</option>
							<option value="ukraine">Ukraine</option>
							<option value="united-arab-emirates">United Arab Emirates</option>
							<option value="uruguay">Uruguay</option>
							<option value="uzbekistan">Uzbekistan</option>
							<option value="vanuatu">Vanuatu</option>
							<option value="vatican-city">Vatican City</option>
							<option value="venezuela">Venezuela</option>
							<option value="vietnam">Vietnam</option>
							<option value="yemen">Yemen</option>
							<option value="zambia">Zambia</option>
							<option value="zimbabwe">Zimbabwe</option>
						</select>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Face photo is required">
						<span class="label-input100">Face-only Photo</span><br><br>
						<input capture="user" style="min-width: 100%;" class="input100" type="file" accept="image/*" name="profile_picture"/>
						<span class="focus-input10"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password1" placeholder="Type your password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" name="password2" placeholder="Confirm password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						<a href="{% url 'password_reset'  %}">
							Forgot password?
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Get Started
							</button>

						</div>
					</div>
					</form>


					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Already have an account?
						</span>

						<a href="{% url 'signin' %}" class="txt2 p-b-17">
							Sign In.
						</a>
						<span class="txt1 p-b-5">
							you can also</span>
					
						<a href="{% url 'homepage' %}" class="txt2">
							Visit website home
						</a>
					</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	<script src="{% static 'scripts/custom.js' %}"></script>
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	
<script>
	document.addEventListener("DOMContentLoaded", function () {
		setTimeout(function () {
			document.getElementById("preloader").style.display = "none";
			document.getElementById("main-content").style.display = "block";
		}, 1000);
	});

	document.addEventListener('DOMContentLoaded', function () {
		var alertElement = document.querySelector('.alert');


		alertElement.style.display = 'block';


		setTimeout(function () {
			alertElement.style.display = 'none';
		}, 8000);
	});
</script>
</body>
</html>