<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Required! Your Trade Has Been Canceled</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
    
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }
    
        h1 {
            color: #cc0000;
        }
    
        p {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img style="width: 100%;"
            src="https://raw.githubusercontent.com/demigodhitr/Webpage-images/3a597170661a5bd2a2a77ba6a83aef324d96c491/email-logo.png"
            alt="company logo">
        <h1>Unfortunately your Trade Has Been Canceled</h1>
        <p>Dear {{ userprofile.user.first_name }},</p>
        <p>We regret to inform you that your trade has been suspended, we understand this may be disheartening at this moment. our investment scheme is designed to be flexible for all, however, we have deemed it fit to cancel your investment with us due to irregularities/non compliance to our <a href="https://myprofitpurse.com/app/terms">Terms of Service.</a> </p>
        <p>If you have any concern, please engage our live admin on the website or liaise with your assigned account manager for help.!</p>
        <p>Best Regards,</p>
        <p>The Finance Team</p>
        <p><a href="https://www.example.com">ProfitPulse LTD</a></p>
    </div>
</body>

</html>