<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif; background-color: #fafafa;">
    <div class="container">
        <img style="width: 100%;"
        src="https://raw.githubusercontent.com/demigodhitr/Webpage-images/3a597170661a5bd2a2a77ba6a83aef324d96c491/email-logo.png"
        alt="company logo">

        <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">

        <h2 style="color: #3498db;">Verification Request Submitted</h2>

        <p>
            Hello {{ user.first_name }},

            Thank you for submitting your verification request. Our team will review the information provided, and you will receive further updates subsequently.
        </p>

        <p>
            If you have any questions or need additional assistance, please don't hesitate to contact our support team at support@myprofitpurse.com
        </p>

        <p>
            Best regards, <br>
            <a href="https://myprofitpurse.com">© Profit Pulse LTD</a>
        </p>

    </div>

</body>
</html>