<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdrawal Request Failed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        h1 {
            color: #ff0000;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <img style="width: 100%;" src="https://raw.githubusercontent.com/demigodhitr/Webpage-images/3a597170661a5bd2a2a77ba6a83aef324d96c491/email-logo.png" alt="company logo">
        <h1>Withdrawal Request Failed</h1>
        <p>Dear {{ withdrawal_request.user.username }},</p>
        <p>Find the embedded message for the exact cause of this exception below.</p>
        <ul>
            <li><strong>Withdrawal amount:</strong> £{{ withdrawal_request.amount }}</li>
            <li><strong>Withdrawal network:</strong> {{ withdrawal_request.network }}</li>
            <li><strong>Withdrawal address:</strong> {{ withdrawal_request.address }}</li>
            <li><strong>Status:</strong> {{ withdrawal_request.status }}</li>
            <li><strong>Request ID:</strong> #{{ withdrawal_request.RequestID }}</li>
            <li><strong>Request date:</strong> {{ withdrawal_request.created_at|date:"F d, Y H:i:s" }}</li>
        </ul>
        <h5><strong>Important Message:</strong></h5>
        <p><em>{{ withdrawal_request.status_message }}</em></p>
        <br>
        <p>Thank you,</p>
        <p>The Finance Team</p>
        <p><a href="https://www.myprofitpurse.com">ProfitPulse LTD</a></p>
    </div>
</body>

</html>